@import './layout/Colors.scss';

.color-box {
  display: inline-block;
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  min-width: 105px;
  height: 80px;
  box-sizing: border-box;
  font-size: .73rem;

  &--red {
    border: 2px solid $red;
    color: $red;
  }

  &--green {
    border: 2px solid $green;
    color: $green;
  }

  &--blue {
    border: 2px solid $blue;
    color: $blue;
  }

  &--orange {
    border: 2px solid $orange;
    color: $orange;
  }

  &--purple {
    border: 2px solid $purple;
    color: $purple;
  }

  &--brown {
    border: 2px solid $brown;
    color: $brown;
  }
}
